.img-container {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  margin: -1em;
}

.img-container > * {
  margin: 1em;
}

.img--dynamic {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 700px) {
  .img-container {
    display: block;
    margin: 0;
  }
  
  .img-container > * {
    margin: 1em 0
  }
}